/*CSS for FPC Library Homepage Test, contact DataLibOrc with all issues or questions */

body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-shadow: 1px 1px black;
}

p {
  color: grey;
}
