/*CSS for FPC Library Homepage Test, contact DataLibOrc with all issues or questions */

body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-shadow: 1px 1px black;
}

h1.top {
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;
}

p {
  color: grey;
}

p.top {
  color: grey;
  text-align: center;
}

.info {
  color: black;
  border-style: none solid;
  top: 0;
  left: 0;
  width: 160px;
}

p.books {
  text-align: center;
}
